body {
  font-family: sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
}

.item {
  padding: 10px;
  text-align: center;
  color: #fff;
}

.item1 {
  background-color: #fd8471;
  grid-area: header;
}
.item2 {
  background-color: #68e972;
  grid-area: aside-left;
}
.item3 {
  background-color: #64e0d5;
  grid-area: main-content;
}
.item4 {
  background-color: #67a1eb;
  grid-area: aside-right;
}
.item5 {
  background-color: #7267ea;
  grid-area: footer-left;
}
.item6 {
  background-color: #cc67eb;
  grid-area: footer-right;
}
.item7 {
  background-color: #e60651;
  grid-area: footer;
}
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 100px);
  grid-template-areas:
    "header       header        header        header"
    "aside-left   main-content  main-content  aside-right"
    "footer-left  footer-left   footer-right  footer-right"
    "footer       footer        footer        footer";
}
@media screen and (max-width: 600px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 100px);
    grid-template-areas:
      "header         header        header        header"
      "aside-left     aside-left    aside-right   aside-right"
      "main-content   main-content  main-content  main-content "
      "footer-left    footer-left   footer-right  footer-right"
      "footer         footer        footer        footer";
  }
}
@media screen and (max-width: 300px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 100px);
    grid-template-areas:
      "header"
      "main-content"
      "aside-left"
      "aside-right"
      "footer-left"
      "footer-right"
      "footer";
  }
}
